[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
al-logger = {editable = true,git = "ssh://git@github.com/s-bl/ALLogger.git",ref = "master"}
colorednoise = "*"
gym = "*"
imageio = "*"
scipy = "*"
forwardable = "*"
sklearn = "*"
scikit-learn = "*"
tqdm = "*"
seaborn = "*"
matplotlib = "*"
torch = "*"
al-smart-settings = {editable = true,git = "ssh://git@github.com/martius-lab/smart-settings.git"}
patchelf = "*"
cython = { version = "<3", editable = false }
mujoco-py = "==2.0.2.0"

[requires]
python_version = "3.6"
